		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<base target="_blank">
		
		<link rel="stylesheet" href="/assets/css/styles.css">

		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
		<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#564a7e">
		<link rel="shortcut icon" href="/assets/images/favicon.ico">
		<meta name="theme-color" content="#d5cafe">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	</head>
	<body>
		<div id="logo">
			<a href="https://eatch.dev">
				<img src="https://eatch.dev/ei/-0" alt="eatch.dev" title="eatch.dev">
			</a>