@charset "UTF-8";
@import "defs";

@mixin code-languages($selector) {
	&.language-plaintext:not(.pseudocode) {
		#{$selector}::before {
			content: "Plain Text";
		}
	}
	&.language-c {
		#{$selector}::before {
			content: "C";
		}
	}
	&.language-cpp {
		#{$selector}::before {
			content: "C++";
		}
	}
	&.gml {
		#{$selector}::before {
			content: "GML Code";
		}
	}
	&.language-haskell {
		#{$selector}::before {
			content: "Haskell";
		}
	}
	&.language-javascript:not(.gml) {
		#{$selector}::before {
			content: "JavaScript";
		}
	}
	&.language-liquid {
		#{$selector}::before {
			content: "Liquid";
		}
	}
	&.language-lisp {
		#{$selector}::before {
			content: "Lisp";
		}
	}
	&.language-markdown {
		#{$selector}::before {
			content: "Markdown";
		}
	}
	&.pseudocode {
		#{$selector}::before {
			content: "Pseudocode";
		}
	}
	&.language-python {
		#{$selector}::before {
			content: "Python";
		}
	}
	&.language-rust {
		#{$selector}::before {
			content: "Rust";
		}
	}
	&.language-scss {
		#{$selector}::before {
			content: "SCSS";
		}
	}
	&.language-typescript {
		#{$selector}::before {
			content: "TypeScript";
		}
	}
}
