@charset "UTF-8";
@import "defs";

@mixin code-languages($selector) {
	&.language-plaintext:not(.markdown) {
		#{$selector}::before {
			content: "Plain Text";
		}
	}
	&.language-c {
		#{$selector}::before {
			content: "C";
		}
	}
	&.language-cpp {
		#{$selector}::before {
			content: "C++";
		}
	}
	&.gml {
		#{$selector}::before {
			content: "GameMaker Language";
		}
	}
	&.language-javascript:not(.gml) {
		#{$selector}::before {
			content: "JavaScript";
		}
	}
	&.language-liquid {
		#{$selector}::before {
			content: "Liquid";
		}
	}
	&.language-markdown {
		#{$selector}::before {
			content: "Markdown";
		}
	}
	&.language-python {
		#{$selector}::before {
			content: "Python";
		}
	}
	&.language-scss {
		#{$selector}::before {
			content: "SCSS";
		}
	}
}