@charset "UTF-8";

@mixin media-query-match($key, $value, $match) {
	@if $match {
		@media all and ($key: $value) {
			@content;
		}
	} @else {
		@media not all and ($key: $value) {
			@content;
		}
	}
}

@mixin if-wide($wide: true) {
	@include media-query-match(min-width, 70rem, $wide) {
		@content;
	}
}

@mixin if-narrower($narrow: true) {
	@include media-query-match(max-width, 30rem, $narrow) {
		@content;
	}
}

@mixin if-motion-reduced($reduced: true) {
	@include media-query-match(prefers-reduced-motion, reduce, $reduced) {
		@content;
	}
}

@mixin if-dark($dark: true) {
	@include media-query-match(prefers-color-scheme, dark, $dark) {
		@content;
	}
}

@mixin transits($properties...) {
	@include if-motion-reduced(false) {
		transition-property: $properties;
		transition-duration: 0.2s;
		transition-timing-function: ease;
	}
}

// @mixin if-transparency-reduced($reduced: true) {
// 	@include media-query-match(prefers-reduced-transparency, reduce, $reduced) {
// 		@content;
// 	}
// }

// @mixin if-high-contrast($high: true) {
// 	@include media-query-match(prefers-contrast, high, $high) {
// 		@content;
// 	}
// }

@mixin shadow($color: change-color(black, $alpha: 0.25), $dark: change-color(white, $alpha: 0.25)) {
	box-shadow: 0 0.1875rem 0.375rem $color;

	@include if-dark {
		box-shadow: 0 0.1875rem 0.375rem $dark;
	}
}

@mixin intense-shadow {
	@include shadow(change-color(black, $alpha: 0.5), change-color(white, $alpha: 0.5));
}

@function eatchy-purple($lightness: 50%) {
	@if $lightness > 50% {
		@return mix(#ab94fc, white, 200% - 2*$lightness);
	} @else {
		@return mix(#ab94fc, black, 2*$lightness);
	}
}

@function rotate($color, $hue) {
	@return adjust-color($color, $hue: $hue);
}

@function eatchy($lightness: 50%, $delta-hue: 0deg) {
	@return rotate(eatchy-purple($lightness), $delta-hue);
}

@function vivid($color) {
	@return change-color($color, $saturation: 100%);
}

%unselectable {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

$font-set: "Noto Sans KR", sans-serif;
$alt-font-set: "NanumSquareRound", sans-serif;
$mono-font-set: "D2Coding", monospace;

$heading-size: 2.5rem, 2.1rem, 1.8rem, 1.5rem, 1.2rem, 1rem;
$heading-bold-threshold: 2;

$light-background: white;
$light-foreground: black;
$dark-background: #202020;
$dark-foreground: white;