@charset 'UTF-8';

$narrow: 1080px;
$left: 300px;
$right: 720px;

@mixin respond-to($name) {
	@if $name == wide {
		@media all and (min-width: $narrow) {
			@content;
		}
	}
	@if $name == narrow {
		@media not all and (min-width: $narrow) {
			@content;
		}
	}

	@if $name == reduced-motion {
		@media all and (prefers-reduced-motion: reduce) {
			@content;
		}
	}
	@if $name == motion {
		@media not all and (prefers-reduced-motion: reduce) {
			@content;
		}
	}

	@if $name == dark {
		@media all and (prefers-color-scheme: dark) {
			@content;
		}
	}
	@if $name == light {
		@media not all and (prefers-color-scheme: dark) {
			@content;
		}
	}
}

@function white-shade($opacity) {
	@return rgba(255, 255, 255, $opacity);
}
@function black-shade($opacity) {
	@return rgba(0, 0, 0, $opacity);
}

%metadata {
	font-size: 0.8rem;
	
	span.date {
		color: #444;
	}

	span.tag {
		margin: 0 0.05em;
		padding: 0 0.15em;
		background-color: #e0ffff;
		word-break: keep-all;

		&::before {
			content: "#";
		}
	}

	@include respond-to(dark) {
		span.date {
			color: #bbb;
		}

		span.tag {
			background-color: #002020;
		}
	}
}

%toc-container {
	margin-top: 1rem;

	li {
		list-style-type: none;

		a {
			display: block;
			padding: 0.2rem;
			padding-right: 0.5rem;
			color: black-shade(0.75);
			text-decoration: none;

			&:hover {
				background-color: black-shade(0.05);
			}

			@include respond-to(dark) {
				color: white-shade(0.75);

				&:hover {
					background-color: white-shade(0.05);
				}
			}
		}
	}
}

@mixin toc-list($direction) {
	padding: 0;

	ol {
		margin-#{$direction}: calc(0.5rem - 1px);
		border-#{$direction}: 1px solid black-shade(0.1);

		@include respond-to(dark) {
			border-#{$direction}-color: white-shade(0.1);
		}
	}
}

* {
	box-sizing: border-box;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}

html, body, #container {
	height: 100%;
}

html {
	scroll-padding-top: 1rem;
	color: black;
	background-color: white;

	@include respond-to(narrow) {
		scroll-padding-top: 6rem;
	}
	
	@include respond-to(motion) {
		scroll-behavior: smooth;
	}

	@include respond-to(dark) {
		color: white;
		background-color: #202020;
	}
}

body {
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

table {
	border-collapse: collapse;
}

a {
	// color: #0032c7;
	color: #2e00c7;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
	&:visited {
		// color: #4a577d;
		color: #564a7e;
	}

	&.footnote, &.reversefootnote {
		color: #c72e00;
	}

	@include respond-to(dark) {
		color: #ab94fc;

		&:visited {
			color: #d5cafe;
		}

		&.footnote, &.reversefootnote {
			color: #ff6333;
		}
	}
}

#logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	font-size: 0;
	white-space: nowrap;
	z-index: 1;

	--logo-gradient-color-top: white;
	--logo-gradient-color-bottom: rgba(255, 255, 255, 0.8);

	@include respond-to(dark) {
		--logo-gradient-color-top: black;
		--logo-gradient-color-bottom: rgba(32, 32, 32, 0.8);
	}

	@include respond-to(narrow) {
		height: 6rem;
		background-image: linear-gradient(to bottom, var(--logo-gradient-color-top), var(--logo-gradient-color-bottom) 80%, transparent);
	}

	* {
		vertical-align: middle;
		line-height: 4rem;
	}

	#progress-bar {
		position: absolute;
		height: 6px;
		background: #ab94fc;
		box-shadow: 0 2px 4px black-shade(0.25);
	}

	a {
		position: relative;
		top: 1rem;
		left: 1rem;

		img {
			width: 4rem;
		}

		@include respond-to(light) {
			#logo-dark {
				display: none;
			}
		}

		@include respond-to(dark) {
			#logo-light {
				display: none;
			}
		}
	}

	.logo-title {
		position: relative;
		display: inline-block;
		top: 1rem;
		left: 1.5rem;
		font-size: 1rem;
		letter-spacing: 0.15em;

		@include respond-to(wide) {
			display: none;
		}

		* {
			vertical-align: initial;
		}
	}
}

#container {
	display: flex;
	position: relative;
	margin: auto;

	@include respond-to(wide) {
		flex-flow: row nowrap;
		width: 960px;
		width: $left + $right;
	}
	@include respond-to(narrow) {
		flex-flow: column nowrap;
		max-width: 720px;
		max-width: $right;
		padding: 0 1.5rem;
	}
}

header {
	display: flex;
	flex-flow: column nowrap;
	flex: none;
	padding: 0.5rem;
	word-break: keep-all;
	
	@include respond-to(wide) {
		position: fixed;
		padding-top: 4.5rem;
		width: 240px;
		width: $left;
		height: 100%;
		text-align: right;
	}
	
	@include respond-to(narrow) {
		position: static;
		margin-top: 8rem;
		text-align: left;
	}

	a.front-link {
		color: #444;

		@include respond-to(dark) {
			color: #bbb;
		}
	}

	h1 {
		margin: 0;
		color: #564a7e;
		font-family: 'NanumSquareRound', sans-serif;
		font-size: 2.4rem;
		font-weight: normal;

		@include respond-to(narrow) {
			br.front-br {
				display: none;
			}
		}

		@include respond-to(dark) {
			color: #d5cafe;
		}
	}

	span.metadata {
		@extend %metadata;

		display: block;
	}

	.toc {
		@extend %toc-container;
		flex: auto;
		overflow-y: auto;

		@include respond-to(narrow) {
			display: none;
		}

		ol {
			@include toc-list(right);
			margin: 0;
		}
	}
}

main {
	flex: none;
	justify-content: flex-start;
	padding: 0.5rem;
	padding-bottom: 1rem;
	word-break: keep-all;
	
	@include respond-to(wide) {
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 12rem;
		width: $right;
	}

	blockquote {
		margin: 0;
		margin-left: 0.5rem;
		border-left: 4px solid #564a7e;
		padding-bottom: 1px;
		background-color: rgba(171, 148, 252, 0.2);

		blockquote {
			margin-left: 1rem;
		}

		:last-child:not(p) {
			margin-bottom: 0.5rem;
		}

		@include respond-to(dark) {
			border-left: 4px solid #ab94fc;
			background-color: rgba(213, 202, 254, 0.2);
		}
	}

	code.highlighter-rouge {
		margin: -0.15em 0.05em;
		padding: 0.15em;
		font-family: "D2Coding", monospace;
		background-color: #e0e0e0;

		@include respond-to(dark) {
			background-color: #505050;
		}
	}

	%codeblock {
		@extend %monokai;
		
		margin: 0;
		margin-top: 0.8rem;
	
		pre {
			margin: 0;
			border: none;

			code {
				display: block;
				font-family: "D2Coding", monospace;
				white-space: pre-wrap;
				overflow-x: auto;
			}
		}
	}
	div.highlighter-rouge {
		@extend %codeblock;

		pre {
			padding: 0.5rem;
		}
	}
	figure.highlight {
		@extend %codeblock;

		td {
			padding: 0.5rem;

			&.gutter {
				padding-right: 0;
			}
		}
	
		.lineno {
			display: inline-block;
			border-right: 1px solid #ccc;
			padding: 0;
			padding-right: 0.5rem;
			text-align: right;
			color: #ccc;
			user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
	}

	del {
		color: #666;

		&:hover {
			text-decoration: none;
		}

		@include respond-to(dark) {
			color: #aaa;
		}
	}

	dl {
		@extend p;

		dt {
			display: inline-block;
			margin: 0;
			margin-top: 1rem;
			padding: 0.15em 0.5em;
			border-radius: 1em;
			background-color: #e0e0e0;

			&:first-child {
				margin: 0;
			}

			@include respond-to(dark) {
				background-color: #505050;
			}
		}

		dd {
			margin: 0;
			margin-top: -0.5rem;
			padding: 0;
			padding-left: 0.5rem;
		}
	}

	.footnotes ol {
		padding-left: 0;
		list-style-position: inside;

		li {
			margin-top: 0.25rem;

			p {
				display: inline-block;
				margin: 0;
			}
		}
	}

	%heading {
		margin: 0;
		margin-top: 1.5rem;
		font-family: 'NanumSquareRound', sans-serif;
		font-weight: normal;
	}
	h1 {
		@extend %heading;
		font-size: 2.5rem;
	}
	h2 {
		@extend %heading;
		font-size: 2.08rem;
	}
	h3 {
		@extend %heading;
		font-size: 1.73rem;
	}
	h4 {
		@extend %heading;
		font-size: 1.44rem;
	}
	h5 {
		@extend %heading;
		font-size: 1.2rem;
	}
	h6 {
		@extend %heading;
		font-size: 1rem;
	}

	hr {
		margin: 2.5rem auto;
		border: none;
		width: 80%;
		height: 1px;
		background-color: black;
		opacity: 50%;

		@include respond-to(dark) {
			background-color: white;
		}
	}

	img {
		display: block;
		margin: auto;
		max-width: 100%;
		max-height: 360px;
	}

	input.task-list-item-checkbox {
		margin: 0 0.4rem 0 0.25rem;
	}

	#markdown-toc {
		@extend %toc-container;

		&, ol {
			@include toc-list(left);
		}
	}

	ol, ul {
		padding-left: 2rem;

		ol, ul {
			padding-left: 1.35rem;
		}
	}

	p {
		margin: 0.8rem 0 0 0.5rem;
	}

	table:not(.rouge-table) {
		margin: 0.8rem 0.5rem 0;
		width: calc(100% - 1rem);

		%tablecell {
			padding: 0.2rem 0.5rem;
			text-align: left;
		}

		th, td {
			@extend %tablecell;
		}

		thead, tfoot {
			tr {
				font-weight: bold;
				background-color: #eae4fe;

				&:hover {
					background-color: #d3cde5;
				}
			}

			th, td {
				border: 1px solid #564a7e;
			}
		}

		tbody {
			tr:hover {
				background-color: black-shade(0.1);
			}

			td {
				border: 1px solid #c0c0c0;
			}

			&:not(:last-child) tr:last-child td  {
				border-bottom: none;
			}
		}

		@include respond-to(dark) {
			thead, tfoot {
				tr {
					background-color: #2b253f;
	
					&:hover {
						background-color: #403b52;
					}
				}
	
				th, td {
					border: 1px solid #ab94fc;
				}
			}
	
			tbody {
				tr:hover {
					background-color: white-shade(0.1);
				}
	
				td {
					border: 1px solid #404040;
				}
	
				&:not(:last-child) tr:last-child td  {
					border-bottom: none;
				}
			}
		}
	}

	ul#post-list {
		margin: 0;
		margin-top: 1.2rem;
		padding: 0;
		list-style: none;

		li {
			margin: 0;
			margin-top: 1.2rem;
			border-radius: 1rem;
			padding: 1rem;
			box-shadow: 0 0.2rem 0.5rem black-shade(0.3);

			@include respond-to(motion) {
				transition: box-shadow 0.2s, background-color 0.2s;
			}

			&:hover {
				box-shadow: 0 0.2rem 0.5rem black-shade(0.6);

				@include respond-to(dark) {
					background-color: white-shade(0.1);
				}
			}

			span.metadata {
				@extend %metadata;

				display: block;
			}
			
			h2 {
				margin: 0;

				strong {
					font-weight: normal;
				}
				em {
					font-style: normal;
				}
			}

			p {
				margin: 0;
			}
		}
	}
}
