@use 'monokai';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap'); // 'Noto Sans KR'
@font-face {
	font-family: "NanumSquareRound";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		local("나눔스퀘어라운드"),
		url("/assets/fonts/nsr_regular.woff") format('woff');
}
@font-face {
	font-family: "NanumSquareRound";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
		local("나눔스퀘어라운드"),
		url("/assets/fonts/nsr_bold.woff") format('woff');
}
@font-face { // from https://github.com/wan2land/d2coding
	font-family: 'D2Coding';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		local('D2Coding'),
		url('/assets/fonts/d2c_regular.woff2') format('woff2'),
		url('/assets/fonts/d2c_regular.woff') format('woff'),
		url('/assets/fonts/d2c_regular.ttf') format('truetype');
}
@font-face {
	font-family: 'D2Coding';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
		local('D2Coding'),
		url('/assets/fonts/d2c_bold.woff2') format('woff2'),
		url('/assets/fonts/d2c_bold.woff') format('woff'),
		url('/assets/fonts/d2c_bold.ttf') format('truetype');
}

* {
	box-sizing: border-box;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}

body {
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

#logo {
	position: fixed;
	top: 0;
	left: 0;
	font-size: 0;
	z-index: 1;

	* {
		vertical-align: middle;
		line-height: 4rem;
	}

	a {
		position: relative;
		top: 1rem;
		left: 1rem;

		img {
			width: 4rem;
		}
	}

	.logo-title {
		position: relative;
		display: inline-block;
		top: 1rem;
		left: 1.5rem;
		font-size: 1rem;
		letter-spacing: 0.15em;

		br {
			display: none;
		}
	}
}

#container {
	position: relative;
	margin: auto;
}

header {
	h1 {
		margin: 0.5rem;
		color: #564a7e;
		font-family: 'NanumSquareRound', sans-serif;
		font-size: 2.4rem;
		font-weight: normal;
	}
}

table {
	border-collapse: collapse;
}

main {
	margin: auto;
	padding: 0.5rem;

	a {
		color: #2e00c7;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
		&:visited {
			color: #564a7e;
		}
	}

	blockquote {
		margin: 0;
		margin-left: 0.5rem;
		border-left: 4px solid #564a7e;
		blockquote {
			margin-left: 1rem;
		}
	}

	code.highlighter-rouge {
		margin: -0.15em 0.05em;
		padding: 0.15em;
		font-family: "D2Coding", monospace;
		background: #e0e0e0;
	}

	%codeblock {
		@extend %monokai;
		
		margin: 0.8rem 0 0;
		color: #f8f8f2;
		background: #272822;
	
		pre {
			margin: 0;
			border: none;

			code {
				display: block;
				font-family: "D2Coding", monospace;
				white-space: pre;
				overflow-x: auto;
				word-wrap: normal;
			}
		}
	}

	div.highlighter-rouge {
		@extend %codeblock;

		pre {
			padding: 0.5rem;
		}
	}
	figure.highlight {
		@extend %codeblock;

		td {
			padding: 0.5rem;

			&.gutter {
				padding-right: 0;
			}
		}
	
		.lineno {
			display: inline-block;
			border-right: 1px solid #ccc;
			padding: 0;
			padding-right: 0.5rem;
			text-align: right;
			color: #ccc;
			user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
	}

	dl {
		@extend p;

		dt {
			display: inline-block;
			margin: 1rem 0 0;
			padding: 0.15em 0.5em;
			border-radius: 1em;
			background-color: #e0e0e0;

			&:first-child {
				margin: 0;
			}
		}

		dd {
			margin: -0.5rem 0 0;
			padding: 0 0 0 0.5rem;
		}
	}

	%heading {
		margin: 1.5rem 0 0;
		font-family: 'NanumSquareRound', sans-serif;
		font-weight: normal;
	}
	h1 {
		@extend %heading;
		font-size: 2.5rem;
	}
	h2 {
		@extend %heading;
		font-size: 2.08rem;
	}
	h3 {
		@extend %heading;
		font-size: 1.73rem;
	}
	h4 {
		@extend %heading;
		font-size: 1.44rem;
	}
	h5 {
		@extend %heading;
		font-size: 1.2rem;
	}
	h6 {
		@extend %heading;
		font-size: 1rem;
	}

	hr {
		margin: 1rem auto;
		border: none;
		width: 80%;
		height: 1px;
		background-color: black;
		opacity: 50%;
	}

	img {
		display: block;
		margin: auto;
		max-width: 100%;
		max-height: 360px;
	}

	input.task-list-item-checkbox {
		margin: 0 0.4rem 0 0.25rem;
	}

	ol, ul {
		padding-left: 2rem;
		ol, ul {
			padding-left: 1.35rem;
		}
	}

	p {
		margin: 0.8rem 0 0 0.5rem;
	}

	table:not(.rouge-table) {
		margin: 0.8rem 0.5rem 0;
		width: calc(100% - 1rem);

		%tablecell {
			padding: 0.2rem 0.5rem;
		}
		thead {
			tr {
				background-color: #eae4fe;

				&:hover {
					background-color: #dcd6ed;
				}
			}
			th {
				@extend %tablecell;
			}
		}
		tbody {
			tr:hover {
				background-color: #eee;
			}
			td {
				@extend %tablecell;
				border-bottom: 1px solid #c0c0c0;
			}
		}
	}
}

.strong {
	font-weight: bold;
}

@media     all and (min-width: 1000px) { // Wide
	#logo .logo-title {
		display: none;
	}

	#container {
		width: 960px;
	}

	header {
		position: fixed;
		top: 4em;
		width: 240px;
		text-align: right;
	}

	main {
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 12rem;
		width: 720px;
	}
}
@media not all and (min-width: 1000px) { // Narrow
	#logo {
		width: 100%;
		height: 6rem;
		background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.50) 100%*5/6, transparent);
	}

	#container {
		max-width: 720px;
		padding: 0 1.5rem;
	}

	header {
		position: static;
		margin-top: 8rem;
		text-align: left;

		h1 br {
			display: none;
		}
	}
}