@charset "UTF-8";
@import "defs";

%metadata {
	font-size: 0.8rem;
	
	span.date {
		color: $header-sublink-color;
	}

	span.tag {
		margin: 0 0.05em;
		padding: 0 0.15em;
		background-color: $tag-color;
		word-break: keep-all;

		&::before {
			content: "#";
		}
	}

	@include respond-to(dark) {
		span.date {
			color: $header-sublink-dark;
		}

		span.tag {
			background-color: $tag-dark;
		}
	}
}

* {
	box-sizing: border-box;
}

html, body, #container {
	height: 100%;
}

html {
	scroll-padding-top: 1rem;
	color: $light-mode-foreground;
	background-color: $light-mode-background;

	@include respond-to(narrow) {
		scroll-padding-top: 6rem;
	}
	
	@include respond-to(motion) {
		scroll-behavior: smooth;
	}

	@include respond-to(dark) {
		color: $dark-mode-foreground;
		background-color: $dark-mode-background;
	}
}

body {
	margin: 0;
	font-family: $font-set;
	overflow-wrap: break-word;
}

table {
	border-collapse: collapse;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
	&:visited {
		color: $visited-link-color;
	}
	&.footnote, &.reversefootnote {
		color: $footnote-link-color;
	}
	
	@include respond-to(dark) {
		color: $link-dark;

		&:visited {
			color: $visited-link-dark;
		}
		&.footnote, &.reversefootnote {
			color: $footnote-link-dark;
		}
	}
}

#logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	font-size: 0;
	white-space: nowrap;
	z-index: 1;

	--logo-gradient-color-top: white;
	--logo-gradient-color-bottom: rgba(255, 255, 255, 0.8);

	@include respond-to(dark) {
		--logo-gradient-color-top: black;
		--logo-gradient-color-bottom: rgba(32, 32, 32, 0.8);
	}

	@include respond-to(narrow) {
		height: 6rem;
		background-image: linear-gradient(to bottom, var(--logo-gradient-color-top), var(--logo-gradient-color-bottom) 80%, transparent);
	}

	* {
		vertical-align: middle;
		line-height: $logo-size;
	}

	#progress-bar {
		position: absolute;
		height: 6px;
		background: $progress-bar-color;
		box-shadow: 0 2px 4px black-shade(0.25);

		@include respond-to(dark) {
			background: $progress-bar-dark;
		}
	}

	a {
		position: relative;
		top: $logo-margin;
		left: $logo-margin;

		img {
			width: $logo-size;
		}

		@include respond-to(light) {
			#logo-dark {
				display: none;
			}
		}

		@include respond-to(dark) {
			#logo-light {
				display: none;
			}
		}
	}

	.logo-title {
		position: relative;
		display: inline-block;
		top: $logo-margin;
		left: $logo-margin + 0.5rem;
		font-size: 1rem;
		letter-spacing: $logo-letter-spacing;

		@include respond-to(wide) {
			display: none;
		}

		* {
			vertical-align: initial;
		}
	}
}

#container {
	display: flex;
	position: relative;
	margin: auto;

	@include respond-to(wide) {
		flex-flow: row nowrap;
		width: $left + $right;
	}
	@include respond-to(narrow) {
		flex-flow: column nowrap;
		max-width: $right;
		padding: 0 1.5rem;
	}
}

header {
	display: flex;
	flex-flow: column nowrap;
	flex: none;
	padding: 0.5rem;
	word-break: keep-all;
	
	@include respond-to(wide) {
		position: fixed;
		padding-top: 4.5rem;
		width: $left;
		height: 100%;
		text-align: right;
	}
	
	@include respond-to(narrow) {
		position: static;
		margin-top: 8rem;
		text-align: left;
	}

	a.front-link {
		color: $header-sublink-color;

		@include respond-to(dark) {
			color: $header-sublink-dark;
		}
	}

	h1 {
		margin: 0;
		color: $post-title-color;
		font-family: $alt-font-set;
		font-size: $post-title-size;
		font-weight: normal;

		@include respond-to(narrow) {
			br.front-br {
				display: none;
			}
		}

		@include respond-to(dark) {
			color: $post-title-dark;
		}
	}

	span.metadata {
		@extend %metadata;

		display: block;
	}

	.toc {
		@extend %toc-container;
		flex: auto;
		overflow-y: auto;

		@include respond-to(narrow) {
			display: none;
		}

		ol {
			@include toc-list(right);
			margin: 0;
		}
	}
}

main {
	flex: none;
	justify-content: flex-start;
	padding: 0.5rem;
	padding-bottom: 1rem;
	word-break: keep-all;
	
	@include respond-to(wide) {
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 12rem;
		width: $right;
	}

	@extend %post;
}
