@charset "UTF-8";
@import "new-defs";

// enforce border box model
* {
	box-sizing: border-box;
}

// take full height
html, body {
	height: 100%;
}

// scroll padding
html {
	overflow-x: hidden;
	scroll-padding-top: 6rem;

	@include if-motion-reduced(false) {
		scroll-behavior: smooth;
	}
}

body {
	margin: 0;
	font-family: $font-set;
	word-break: keep-all;
	color: $light-foreground;
	background-color: $light-background;

	@include if-dark {
		color: $dark-foreground;
		background-color: $dark-background;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $alt-font-set;
}

a {
	color: vivid(eatchy(25%, -30deg));
	text-decoration-skip-ink: all;

	&:visited {
		color: eatchy(25%, -30deg);
	}
	&.footnote, &.reversefootnote {
		color: vivid(eatchy(25%, 120deg));

		&:not(:hover) {
			text-decoration-color: transparent;
		}

		@include transits(text-decoration-color);
	}

	@include if-dark {
		color: vivid(eatchy(50%, -30deg));

		&:visited {
			color: eatchy(75%, -30deg);
		}
		&.footnote, &.reversefootnote {
			color: vivid(eatchy(37.5%, 120deg));
		}
	}
}

#progress-bar {
	position: fixed;
	left: 0;
	top: 0;
	width: 0;
	height: 0.375rem /*6px*/;
	background-color: eatchy-purple();
	z-index: 11;

	@include shadow;
}

#top-bar {
	position: fixed;
	left: 0;
	top: 0;
	padding: 1rem;
	width: 100%;
	background-image: linear-gradient(to bottom,
		$light-background,
		change-color($light-background, $alpha: 0.8) 80%,
		transparent
	);
	white-space: nowrap;
	z-index: 10;

	// vertical alignment
	* {
		vertical-align: middle;
		line-height: 4rem;
	}

	// dirty method to eliminate extra height
	a {
		font-size: 0;
	}

	.logo {
		display: none;
		width: 4rem;
		height: 4rem;
	}

	@include if-dark {
		#logo-dark {
			display: inline;
		}
	}
	@include if-dark(false) {
		#logo-light {
			display: inline;
		}
	}

	#top-bar-title {
		margin-left: 0.5rem;
	}

	@include if-dark {
		background-image: linear-gradient(to bottom,
			$dark-background,
			change-color($dark-background, $alpha: 0.8) 80%,
			transparent
		);
	}
}

// back to top button
#top-button {
	position: fixed;
	right: 1.5rem;
	bottom: 1.5rem;
	border-radius: 1.5rem;
	width: 3rem;
	height: 3rem;
	opacity: 0.5;

	img {
		width: 100%;
		height: 100%;
	}

	@include shadow;
	@include transits(opacity);
}

#end-of-post {
	display: flex;
	flex-direction: row;
	align-items: center;

	&::before, &::after {
		content: "";
		flex: 1 1;
		margin: auto;
		height: 1px;
		background-color: #808080;
	}

	img {
		width: 5rem;
	}
}

// tags and categories
%hashtag {
	margin: 0 0.05em;
	padding: 0 0.15em;
	word-break: keep-all;

	&::before {
		content: "#";
	}
}

// date and tags
%metadata {
	font-size: 0.8rem;

	.tag {
		@extend %hashtag;
		color: $light-foreground;
		background-color: #e0ffff;

		@include if-dark {
			color: $dark-foreground;
			background-color: #004040;
		}
	}
	.category {
		@extend %hashtag;
		color: $light-foreground;
		background-image: linear-gradient(to right,
			#e8e800,
			transparent
		);

		@include if-dark {
			color: $dark-foreground;
			background-image: linear-gradient(to right,
				#808000,
				change-color(#808000, $alpha: 0.25)
			);
		}
	}
}

main {
	// grid definition
	display: grid;
	grid-template-rows: auto;
	column-gap: 0.5rem;
	place-items: start stretch;
	place-content: start center;

	@mixin wide-layout {
		grid-template-columns: 15rem 45rem;
		grid-template-areas:
			"header header "
			"toc    article";
	}
	
	@mixin narrow-layout {
		grid-template-columns: auto;
		grid-template-areas:
			"header "
			"article";
		
		margin: auto;
		width: 80vw;
		max-width: 45rem;
	}

	header {
		grid-area: header;

		// upper margin
		margin-top: 8rem;

		.front-link {
			color: #444;

			&:not(:hover) {
				text-decoration-color: transparent;
			}
	
			@include if-dark {
				color: #bbb;
			}

			@include transits(text-decoration-color);
		}

		h1 {
			margin: 0;
			font-size: 2.5rem;
			color: eatchy-purple(25%);

			@include if-dark {
				color: eatchy-purple(75%);
			}
		}

		// date and tags
		.metadata {
			@extend %metadata;
		}
	}

	.toc {
		grid-area: toc;

		position: sticky;
		top: 6rem;
		max-height: calc(100vh - 6rem);
		overflow-y: auto;

		ol {
			@include toc(right);
			margin: 0;
		}

		@include if-wide(false) {
			display: none;
		}
	}

	article {
		grid-area: article;

		width: 80vw;
		max-width: 45rem;

		@extend %post;
	}

	&.front-page {
		@include narrow-layout;

		header h1 {
			margin-bottom: 1rem;
		}

		ul#post-list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto;
			gap: 1rem;
			align-items: start;

			margin: 0;
			margin-top: 1.2rem;
			padding: 0;
			list-style: none;
		
			li {
				display: block;
				position: relative;
				border-radius: 0.8rem;
				height: 16rem;
				background-color: mix(gray, eatchy-purple(), 70%);
				background-size: cover;
				background-position: 50% 40%;
				contain: content; // prevent overflowing

				@include shadow;
				&:hover {
					@include intense-shadow;
				}
				@include transits(box-shadow);
		
				span.metadata {
					@extend %metadata;
		
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					padding: 0.5rem;
					padding-top: 2rem;
					width: 100%;
					background-image: linear-gradient(to bottom,
						transparent,
						change-color(eatchy-purple(87.5%), $alpha: 0.85) 2rem
					);

					@include if-dark {
						background-image: linear-gradient(to bottom,
							transparent,
							change-color(eatchy-purple(12.5%), $alpha: 0.85) 2rem
						);
					}
				}
				
				h2 {
					margin: 0;
					font-size: 1.8rem;
				}
		
				p {
					margin: 0;
				}
			}
		}
	}

	&:not(.front-page) {
		@include if-wide(false) {
			@include narrow-layout;
		}
	
		@include if-wide {
			@include wide-layout;
		}
	}
}