@charset "UTF-8";

%toc-container {
	margin-top: 1rem;

	li {
		list-style-type: none;

		a {
			display: block;
			padding: 0.2rem;
			padding-right: 0.5rem;
			text-decoration: none;

			&, &:hover, &:visited {
				color: black-shade(0.75);
			}

			@include if-dark {
				&, &:hover, &:visited {
					color: white-shade(0.75);
				}
			}

			@include hover(background-color) {
				background-color: black-shade(0.05);

				@include if-dark {
					background-color: white-shade(0.05);
				}
			}
		}
	}
}

@mixin toc-list($direction) {
	padding: 0;

	ol, ul {
		margin-#{$direction}: calc(0.64rem - 1px);
		border-#{$direction}: 1px solid black-shade(0.1);

		@include if-dark {
			border-#{$direction}-color: white-shade(0.1);
		}
	}
}