---
---

{% include template1.html %}
		<title>잇창명 개발 블로그 (공사 중)</title>
{% include template2.html %}
		<span class="logo-title">잇창명 개발 블로그</span>
{% include template3.html %}
			<header>
				<h1>
					<strong>잇창명</strong><br> 개발 블로그
				</h1>
			</header>

			<main>
				{{ content }}

				<h1>글 목록</h1>
				<ul id="post-list">
					{% for x in site.posts %}
						<li>
							<span class="metadata">
								<span class="date">{{ x.date | date: "%Y년 %m월 %d일" }}</span>{% for y in x.tags %} <span class="tag">#{{ y }}</span>{% endfor %}
							</span>
							<h2><a href="{{ x.url }}">{{ x.actual_title }}</a></h2>
							<p>
								{{ x.excerpt }}
							</p>
						</li>
					{% endfor %}
				</ul>
			</main>
{% include template4.html %}