---
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>잇창명 개발 블로그</title>

		{% seo title=false %}

		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
		<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#564a7e">
		<link rel="shortcut icon" href="/assets/images/favicon.ico">
		<meta name="theme-color" content="#d5cafe">

		<link rel="stylesheet" href="/assets/css/styles.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	</head>

	<body>
		<main class="front-page">
			<header>
				<h1>잇창명 개발 블로그</h1>
			</header>

			<article>
				{{ content }}

				<div id="end-of-post">
					<img src="https://eatch.dev/ei/s/80" alt="">
				</div>
			</article>
		</main>

		<div id="top-bar">
			<a href="https://eatch.dev/">
				<picture>
					<source srcset="https://eatch.dev/ei/-f" media="(prefers-color-scheme: dark)">
					<img class="logo" src="https://eatch.dev/ei/-0" alt="eatch.dev로">
				</picture>
			</a>
			<span id="top-bar-title">잇창명 개발 블로그</span>
		</div>

		<a id="top-button" href="#"><img src="/assets/svg/top.svg"></a>

		<script src="/assets/js/postprocess.js"></script>
		<script>require('top_button');</script>
	</body>
</html>