---
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.actual_title | strip_html }} · 잇창명 개발 블로그</title>

		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
		<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#564a7e">
		<link rel="shortcut icon" href="/assets/images/favicon.ico">
		<meta name="theme-color" content="#d5cafe">
		
		<link rel="stylesheet" href="/assets/css/new-styles.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	</head>
	
	<body>
		<main>
			<header>
				<a href="/" class="front-link">잇창명 개발 블로그</a>
				<h1>{{ page.actual_title }}</h1>
				<span class="metadata">
					<time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%Y년 %m월 %d일" }}</time>
					{% if page.categories.size != 0 or page.tags.size != 0 %}
						{% for x in page.categories %}
							<span class="category">{{ x }}</span>
						{% endfor %}
						{% for x in page.tags %}
							<span class="tag">{{ x }}</span>
						{% endfor %}
					{% endif %}
				</span>
			</header>

			<div class="toc"></div>

			<article>
				{{ content }}

				<div id="end-of-post">
					<img src="https://eatch.dev/ei/s/80" alt="">
				</div>
			</article>
		</main>
		
		<div id="progress-bar"></div>
		<div id="top-bar">
			<a href="/">
				<img id="logo-dark" class="logo" src="https://eatch.dev/ei/-f" alt="첫 페이지로">
				<img id="logo-light" class="logo" src="https://eatch.dev/ei/-0" alt="첫 페이지로">
			</a>
			<span id="top-bar-title">{{ page.actual_title }}</span>
		</div>

		<a id="top-button" href="#"><img src="/assets/svg/top.svg"></a>

		<script src="/assets/js/postprocess.js"></script>
		<script>require_all_new();</script>
	</body>
</html>