---
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }} · 잇창명 개발 블로그</title>

		<link rel="icon" href="/assets/images/favicon.ico" sizes="any">
		<link rel="icon" type="image/svg+xml" href="https://eatch.dev/ei/c/0_0_f">
		<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
		<meta name="theme-color" content="#d5cafe">

		<link rel="stylesheet" href="/assets/css/styles.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	</head>

	<body>
		<main>
			<header></header>

			<div class="toc"></div>

			<article>
				{% include mar27.html %}

				<div id="end-of-post">
					<img src="https://eatch.dev/ei/s/80" alt="">
				</div>
			</article>
		</main>

		<div id="progress-bar"></div>
		<div id="top-bar">
			<a href="/">
				<picture>
					<source srcset="https://eatch.dev/ei/-f" media="(prefers-color-scheme: dark)">
					<img class="logo" src="https://eatch.dev/ei/-0" alt="eatch.dev로">
				</picture>
			</a>
			<span id="top-bar-title" style="text-decoration: line-through;">{{ page.title }}</span>
		</div>

		<a id="top-button" href="#"><img src="/assets/svg/top.svg"></a>

		<script src="/assets/js/postprocess.js"></script>
		<script>require_all();</script>
	</body>
</html>