---
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }} · 잇창명 개발 블로그</title>

		{% if page.seo %}
			{% seo title=false %}
		{% endif %}

		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
		<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#564a7e">
		<link rel="shortcut icon" href="/assets/images/favicon.ico">
		<meta name="theme-color" content="#d5cafe">

		<link rel="stylesheet" href="/assets/css/styles.css">
		{% if page.style %}
			<link rel="stylesheet" href="{{ page.style }}">
		{% endif %}

		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	</head>

	<body>
		<main>
			<header>
				<a href="/" class="front-link">잇창명 개발 블로그</a>
				<h1>{{ page.title }}</h1>
				<span class="metadata">
					<time datetime="{{ page.date | date: '%F' }}">{{ page.date | date: "%Y년 %m월 %d일" }}</time>
					{% if page.edited_at %}
						&bull; <time datetime="{{ page.edited_at | date: '%F' }}">{{ page.edited_at | date: "%Y년 %m월 %d일" }}</time> 수정
					{% endif %}
					{% if page.comments %}
						&bull; <a href="https://eatchangmyeong.github.io{{ page.url }}#disqus_thread">댓글 달기</a>
					{% endif %}
					{% if page.categories.size != 0 or page.tags.size != 0 %}
						{% for x in page.categories %}
							<span class="category">{{ x }}</span>
						{% endfor %}
						{% for x in page.tags %}
							<span class="tag">{{ x }}</span>
						{% endfor %}
					{% endif %}
				</span>
			</header>

			<div class="toc"></div>

			<article>
				{{ content }}

				<div id="end-of-post">
					<img src="https://eatch.dev/ei/s/80" alt="">
				</div>

				{% if page.comments %}
					<div id="disqus_thread"></div>
					<script>
						/**
						*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
						*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
						var disqus_config = function () {
						this.page.url = 'https://eatchangmyeong.github.io{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};
						(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = 'https://eatch-devblog.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
						})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				{% endif %}
			</article>
		</main>

		<div id="progress-bar"></div>
		<div id="top-bar">
			<a href="/">
				<picture>
					<source srcset="https://eatch.dev/ei/-f" media="(prefers-color-scheme: dark)">
					<img class="logo" src="https://eatch.dev/ei/-0" alt="eatch.dev로">
				</picture>
			</a>
			<span id="top-bar-title">{{ page.title }}</span>
		</div>

		<a id="top-button" href="#"><img src="/assets/svg/top.svg"></a>

		<script src="/assets/js/postprocess.js"></script>
		<script>require_all();</script>
		{% if page.script %}
			<script src="/assets/js/substitute.js"></script>
			<script src="{{ page.script }}"></script>
		{% endif %}

		<script id="dsq-count-scr" src="//eatch-devblog.disqus.com/count.js" async></script>
	</body>
</html>