---
---

{% include template1.html %}
		<title>{{ page.actual_title | strip_html }} · 잇창명 개발 블로그 (공사 중)</title>
{% include template2.html %}
		<span class="logo-title">{{ page.actual_title }}</span>
{% include template3.html %}
			<header>
				<a href="/" class="front-link">잇창명 개발 블로그</a>
				<h1>
					{{ page.actual_title }}
				</h1>
				<span class="metadata">
					<span class="date">{{ page.date | date: "%Y년 %m월 %d일" }}</span>
					{% for x in page.tags %}<span class="tag">#{{ x }}</span> {% endfor %}
				</span>
			</header>

			<main>
				{{ content }}
			</main>
{% include template4.html %}